@keyframes opacity {
    from{opacity:0}
    to{opacity:4}}


.App {
   animation-name:opacity;
    animation-duration:1s;
    animation-iteration-count: 1;
    background-attachment: fixed;
   text-align: center;
   background-image:url(https://www.umultirank.org/export/sites/default/.galleries/generic-images/Others/Winter-Calendar/why-should-I-study-in-Barcelona.jpg_786252235.jpg);
   background-size:cover;
  background-repeat: no-repeat;
   min-height: 100vh;
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float:left;
  margin-left:15%;
  border-radius: 5px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 5px;
}

li a:hover:not(.active) {
  background-color: #111;
}

