@keyframes opacity {
    from{opacity:0}
    to{opacity:4}}


.App {
   animation-name:opacity;
    animation-duration:1s;
    animation-iteration-count: 1;
    background-attachment: fixed;
   text-align: center;
   background-image:url(https://www.umultirank.org/export/sites/default/.galleries/generic-images/Others/Winter-Calendar/why-should-I-study-in-Barcelona.jpg_786252235.jpg);
   background-size:cover;
  background-repeat: no-repeat;
  min-height:100vh;
   
}



.text{

  
  
  color:white;
}
.first{
  animation-name:opacity;
  animation-delay: 3s;
  animation-fill-mode: backwards;
  animation-duration:4s;
  animation-iteration-count: 1;
  text-align:center;
  font-size:4em; 
  background-color: rgba(0, 0, 0, 0.322);
  border-radius: 20px;
  max-width: 10em;
  margin:auto;
  margin-top:0.5em;
  padding:10px;
}

.second{
  padding:10px;
  float:left;
  margin:auto;
  margin-top:5em;
  margin-left:10em;
  background-color: rgba(0, 0, 0, 0.637);
  border-radius: 10px;
  max-width: 15em;
  animation-fill-mode: backwards;
  animation-delay:6s;
  animation-name:opacity;
  animation-duration:4s;
  animation-iteration-count: 1;
  
}
.video{
  animation-name:opacity;
  animation-delay:9s;
  animation-duration:3s;
  animation-fill-mode: backwards;
  margin-top:5em;
  border-radius: 20px;
  width:40em;
}
.current li a{
  color:white;
  font-size:bold;
  transform:scale(1.1);
   background-color: #111;
}

ul {
  
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  
  float:left;
  margin-left:10%;
  border-radius: 5px;
}

li a {
  display: block;
  color: grey;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 5px;
}

li a:hover:not(.active) {
  background-color: #111;
}

